.cards-container {

  h2 {
    color: grey;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
  }

  h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 2px;
  }
  img {
    width: 313px;
    height: 200px;
  }

  p {
    margin-top: 0px;
    color: grey;
    font-size: 15px;
    margin-bottom: 0px;
  }

  i {
    font-size: 10px;
    color: green;
  }
}

.car-delete {
  i {
    font-size: 20px;
    color: black;
  }
}
