<div class="container">
  <%= simple_form_for [@car, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { id: "range_start"} %>
  <%= f.input :end_date, as: :string, input_html: { id: "range_end"} %>

  <%= f.submit "crealo ahora" %>
  <% end %>
</div>
